<a href="https://colab.research.google.com/github/yuvrajtu/deeplearning/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv("train.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [0]:
df.groupby(['Embarked']).PassengerId.count()

Embarked
C    168
Q     77
S    644
Name: PassengerId, dtype: int64

In [0]:
def pivot_feature(feature):
    pivot = df.pivot_table(index=feature,columns='Survived',values='PassengerId',aggfunc='count',margins=True)
    pivot.columns=["dead","survived","total"]
    pivot['SR']=pivot.survived/pivot.total
    return pivot
pivot_feature('Embarked')

          dead  survived  total        SR
Embarked
C           75        93    168  0.553571
Q           47        30     77  0.389610
S          427       217    644  0.336957
All        549       340    889  0.382452

In [0]:

# from sklearn.model_selection import StratifiedShuffleSplit
# splitter = StratifiedShuffleSplit(df.Survived,random_state=1337)
feature=[ 'PassengerId','Pclass', 'Age', 'Fare','Parch','Sex','Embarked']
X=df[feature]
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X['Sex'] = labelencoder_X.fit_transform(X['Sex'])
X['Embarked'] = labelencoder_X.fit_transform(X['Embarked'].astype(str))
# onehotencoder = OneHotEncoder(categorical_features = [0])
# X['Embarked'] = onehotencoder.fit(X['Embarked'].astype(str)).toarray()
df.head(10)


y=df.Survived
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 100)
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
# imputer = imputer.fit(X_train)
# X_train = imputer.fit_transform(X_train).ravel()

print(X_train)

     PassengerId  Pclass   Age      Fare  Parch  Sex  Embarked
692          693       3   NaN   56.4958      0    1         2
279          280       3  35.0   20.2500      1    0         2
101          102       3   NaN    7.8958      0    1         2
287          288       3  22.0    7.8958      0    1         2
710          711       1  24.0   49.5042      0    0         0
255          256       3  29.0   15.2458      2    0         0
22            23       3  15.0    8.0292      0    0         1
581          582       1  39.0  110.8833      1    0         0
563          564       3   NaN    8.0500      0    1         2
404          405       3  20.0    8.6625      0    0         2
428          429       3   NaN    7.7500      0    1         1
847          848       3  35.0    7.8958      0    1         0
725          726       3  20.0    8.6625      0    1         2
720          721       2   6.0   33.0000      1    0         2
636          637       3  32.0    7.9250      0    1         2
862          863       1  48.0   25.9292      0    0         2
614          615       3  35.0    8.0500      0    1         2
198          199       3   NaN    7.7500      0    0         1
786          787       3  18.0    7.4958      0    0         2
155          156       1  51.0   61.3792      1    1         0
189          190       3  36.0    7.8958      0    1         2
555          556       1  62.0   26.5500      0    1         2
889          890       1  26.0   30.0000      0    1         0
826          827       3   NaN   56.4958      0    1         2
533          534       3   NaN   22.3583      2    0         0
833          834       3  23.0    7.8542      0    1         2
278          279       3   7.0   29.1250      1    1         1
188          189       3  40.0   15.5000      1    1         1
560          561       3   NaN    7.7500      0    1         1
374          375       3   3.0   21.0750      1    0         2
..           ...     ...   ...       ...    ...  ...       ...
612          613       3   NaN   15.5000      0    0         1
723          724       2  50.0   13.0000      0    1         2
757          758       2  18.0   11.5000      0    1         2
141          142       3  22.0    7.7500      0    0         2
415          416       3   NaN    8.0500      0    0         2
667          668       3   NaN    7.7750      0    1         2
386          387       3   1.0   46.9000      2    1         2
86            87       3  16.0   34.3750      3    1         2
93            94       3  26.0   20.5750      2    1         2
649          650       3  23.0    7.5500      0    0         2
507          508       1   NaN   26.5500      0    1         2
570          571       2  62.0   10.5000      0    1         2
316          317       2  24.0   26.0000      0    0         2
228          229       2  18.0   13.0000      0    1         2
655          656       2  24.0   73.5000      0    1         2
280          281       3  65.0    7.7500      0    1         1
752          753       3  33.0    9.5000      0    1         2
802          803       1  11.0  120.0000      2    1         2
526          527       2  50.0   10.5000      0    0         2
738          739       3   NaN    7.8958      0    1         2
578          579       3   NaN   14.4583      0    0         0
53            54       2  29.0   26.0000      0    0         2
866          867       2  27.0   13.8583      0    0         0
350          351       3  23.0    9.2250      0    1         2
79            80       3  30.0   12.4750      0    0         2
855          856       3  18.0    9.3500      1    0         2
871          872       1  47.0   52.5542      1    0         2
835          836       1  39.0   83.1583      1    0         0
792          793       3   NaN   69.5500      2    0         2
520          521       1  30.0   93.5000      0    0         2

[801 rows x 7 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.fit_transform(X_test)
# print(X_train)

In [0]:
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression(random_state = 0)
# classifier.fit(X_train.fillna(0), y_train.fillna(0))

# from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier(random_state = 0)


from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 12, criterion = 'entropy', random_state = 1337)
model.fit(X_train.fillna(0), y_train.fillna(0))
# import keras
# from keras.models import Sequential
# from keras.layers import Dense
# classifier = Sequential()
# classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'relu', input_dim = 6))
# classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
# classifier.fit(X_train, y_train.fillna(0), batch_size = 10, nb_epoch = 100)




# model = tf.keras.Sequential([
#   tf.keras.layers.Dense(units=1, input_shape=[1])
# ])
# model.compile(loss='mean_squared_error',
#               optimizer=tf.keras.optimizers.Adam(0.1))
# history = model.fit(celsius_q, fahrenheit_a, epochs=500, verbose=False)
# print("Finished training the model")

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=12, n_jobs=None,
            oob_score=False, random_state=1337, verbose=0,
            warm_start=False)

In [0]:
y_pred = model.predict(X_test.fillna(0))

#y_pred_decision=model.predict(X_test.fillna(0))

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score
# cm = confusion_matrix(y_test, y_pred)
accuracy_score(y_test,y_pred)

#accuracy_score(y_test,y_pred_decision)

0.8333333333333334

In [0]:
df_test=pd.read_csv('test.csv')
labelencoder_X = LabelEncoder()
df_test['Sex'] = labelencoder_X.fit_transform(df_test['Sex'])
df_test['Embarked'] = labelencoder_X.fit_transform(df_test['Embarked'].astype(str))
df_test['Survived']=model.predict(df_test[feature].fillna(0))
df_test[['PassengerId','Survived']].to_csv('gender_submission.csv',index=False)